<!DOCTYPE html>
<html>
  <head>
    <title>TDK Türkçe Sözlük</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <!-- vue.js core / resource -->
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
  </head>
  <body>
    <!-- impportant css -->
    <style type="text/css">
      .container-fluid {
        width: 350px !important;
      }
    </style>

    <div id="app">
      <div class="container-fluid mt-3">
        <h6><strong>TDK Türkçe Sözlük</strong></h6>

        <div class="input-group mb-3">
          <input
            v-model="searchText"
            @keyup.enter="getResult"
            type="text"
            class="form-control"
            placeholder="Aranacak kelime"
            ref="searchText"
          />
        </div>

        <div v-if="loaderStatus" class="loader text-center mb-2">
          <div class="spinner-border" role="status"></div>
        </div>

        <div v-if="Array.isArray(results)">
          <ul v-for="result in results" class="list-group my-3">
            <li class="list-group-item bg-danger text-white">
              <strong>{{ result.madde }}</strong>
              <strong v-if="result.anlam_gor > 0"
                >({{ result.anlam_gor }})</strong
              >
            </li>
            <li v-for="meaning in result.anlamlarListe" class="list-group-item">
              <div>
                <span class="bagde badge-danger badge-pill"
                  >{{ meaning.anlam_sira }}</span
                >
                <span
                  v-for="property in meaning.ozelliklerListe"
                  class="font-italic"
                  >{{ property.tam_adi }}</span
                >
                <span>{{ meaning.anlam }}</span>
              </div>
              <ul
                v-if="meaning.orneklerListe"
                class="list-unstyled text-right mt-3"
              >
                <li v-for="example in meaning.orneklerListe">
                  <span class="font-italic">"{{ example.ornek }}"</span>
                  <ul class="list-unstyled">
                    <li v-for="author in example.yazar">
                      <strong class="text-muted">{{ author.tam_adi }}</strong>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div v-else class="alert alert-danger">Sonuç bulunamadı.</div>
      </div>
    </div>

    <!-- vue.js app -->
    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>
